black
isort
ggplot
jupyterlab
jupyterlab-code-formatter
jupyterlab-execute-time
jupyterlab-gridwidth
openpyxl
plotly
pandas
ruff
seaborn
statsmodels
scikit-learn
scikit-learn-extra
scipy
sympy
voila
xlrd
yapf
